<h3>Groupname: {{group?.groupName}}</h3>

Permissions:
<span *ngFor="let permission of group?.permissions">{{permission.permission}}, </span>
<br>

<thead>
<tr>
  <th>Permissions</th>
  <th>Add/remove permission</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let permission of group?.permissions">
  <td>{{permission.permission}}</td>
  <td>
    <button (click)="removePermissionToGroup(permission.permission)">Remove permission</button>
  </td>
</tr>
<tr *ngFor="let permission of allPermissions">
  <td>{{permission.permission}}</td>
  <td>
    <button (click)="assignPermissionToGroup(permission.permission)">Add permission</button>
  </td>
</tr>
</tbody>
