<div>
  <input [(ngModel)]="groupName" placeholder="Enter Group Name" maxlength="15" minlength="1" required>
  <button (click)="createGroup()" [disabled]="!groupName">Add Group</button>
  <span *ngIf="message">{{message}}</span>
</div>


<thead>
<tr>
  <th>Groupname</th>
</tr>
</thead>

<tbody>
<tr *ngFor="let group of this.dataService.groups">
  <td><a [queryParams]="{
  groupName: group.groupName
  }" [routerLink]="['/group-profile']">{{group.groupName}}</a></td>
  <td>
    <button (click)="removeGroup(group.id)">Remove Group</button>
  </td>

</tr>
</tbody>
